<h1>Customers: Alphabetized</h1>

<p><%= link_to 'Index', root_path %> <%= link_to 'Missing Email', customers_missing_email_path %></p>

<p><%= render partial: 'layouts/customer', collection: @customers %></p>
