<h1>Customers</h1>

<p><%= link_to 'Missing Email', customers_missing_email_path %> <%= link_to 'Alphabetized', customers_alphabetized_path %></p>

<p><%= render partial: 'layouts/customer', collection: @customers %></p>